/*GENERAL*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbf2;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
p,
.Description,
li {
  color: #6b6b6b;
  margin: 0px 0px;
}

h1 {
  font-size: 49pt;
}
h2 {
  font-size: 39pt;
}
h3 {
  font-size: 31pt;
}
h4 {
  font-size: 25pt;
}
p,
li {
  font-size: 10pt; /*Changed from 12 to 10*/
}
.Description {
  font-size: 10pt;
}
.ButtonMedium {
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  font-weight: 500;
}
.ButtonSmall {
  font-family: "Roboto Slab", serif;
  font-size: 13pt;
  font-weight: 500;
}
.ButtonExtraSmall {
  font-family: "Roboto Slab", serif;
  font-size: 10pt;
  font-weight: 500;
  border: solid #1ea774 1px;
  color: #1ea774;
  background-color: transparent;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.Link {
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  text-decoration: underline;
  color: #1ea774;
}
.ButtonExtraSmall:hover {
  color: #fffbf2;
  background-color: #1ea774;
}

/*NAVBAR*/
.Nav-Bar {
  display: flex;
  border-bottom: 2px solid;
  border-color: #fee2a3;
  width: 100%;
  height: 60px;
}
.Nav-Ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.Divider {
  display: flex;
  flex: 1;
}
.Logo {
  display: flex;
  padding-left: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  color: #1ea774;
  font-weight: 900;
}
.Nav-Item-Overview {
  display: flex;
  flex-shrink: 0;
  padding-right: 25px;
}
.Nav-Item {
  display: flex;
  padding-left: 40px;
}

/*LINKS*/
a {
  color: grey; /*no Figma decisions yet*/
  text-decoration: none;
}
a:hover {
  color: black; /*no Figma decisions yet*/
}

/*DELETEPOPUP*/
.DeletePopUp {
  background-color: #fdf5d5;
  width: 500px;
  height: 200px;
  border: solid DD0D18 2px;
}

/*DROPDOWN*/
.DropDownMenu {
  display: flex;
  flex: 4;
  flex-direction: column;
  margin-top: 25px;
}
.DropDownTop {
  display: flex;
  flex-direction: row;
  width: 91%;
  height: 30px;
  border: solid transparent 2px;
  background-color: #fdf5d5;
  border-bottom: solid #fadf63 2px;
  padding: 0px 0px;
}
.DropDownTop:hover {
  border: solid #1ea774 2px;
}
.DropDownItem {
  display: flex;
  padding-left: 10px;
  width: 88.2%;
  height: 30px;
  background-color: #fdf5d5;
  border: solid transparent 2px;
}
.DropDownItem:hover {
  border: solid #1ea774 2px;
  border-radius: 5%;
}
#AddFamBack {
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;
  margin-right: 15px;
}
#AddFamAdd {
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;
  margin-right: 15px;
}
.PlaceHolder {
  display: flex;
  flex: 4;
  padding: 5px;
}
.arrowBtn {
  display: none;
  flex: 1;
  width: 5px;
  height: 10px;
}
.DropDownSecondLine {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*OVERVIEWCARD*/
.OverviewCard {
  display: flex;
  width: 100%;
}
/*CarsAndSeats*/
.CarsAndSeats {
  display: flex;
  width: 100%;
}

/*YOUANDYOURFAM*/
.YouAndYourFamily {
  display: flex;
  width: 100%;
}

/*EXCURSION*/
.Excursion {
  display: flex;
  justify-content: center;
}

/*HOME*/
.Home {
  display: flex;
  justify-content: center;
}

/*PROFILE*/
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Profile-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.Profile-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/*CARD*/
.Header {
  display: flex;
  justify-content: space-between;
  color: #6b6b6b;
  border-bottom: solid #fadf63 2px;
  padding: 15px;
}
.Footer {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-end;
}
.Left {
  display: flex;
  padding-left: 25px;
}
.Right {
  display: flex;
}
.Card {
  display: flex;
  margin: 25px;
  padding: 25px; /*Added this -Ingrid*/
  flex-direction: column;
  min-width: 450px; /*This might not make sense on mobile?*/
  width: 100%; /*add max width?*/
  height: auto;
  background-color: #fdf5d5;
}

/*CONTACT PERSON CARD - Necessary?*/
.ContactPersonCard {
}

.UpperSection {
  display: flex;
  /*flex-direction: column;*/
}
.ContactMemberInfo {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%; /*Change to responsive format*/
}
.ContactMemberName {
  width: 100%;
}
.AddressAndEmail {
  flex: 1;
}

.MobileInfo {
  flex: 1;
}

.ContactMemberImage {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: solid #fadf63 4px;
}
.ContactMemberImage-1 {
  display: flex;
  padding: 25px;
}

.PreferredDuties {
  padding-top: 25px;
}

/*IMAGECARD*/
.ImageCard {
  display: flex;
}

/*PARTICIPANT INFO*/
.ParticipantInfo {
  display: flex;
  flex-basis: 100px;
  background-color: #fffbf2;
  border-radius: 5px;
  border: solid transparent 2px;
  margin: 10px;
  padding-left: 20px;
  padding-top: 20px;
  word-wrap: break-word;
}
.ParticipantInfo:hover {
  border: solid #1ea774 2px;
}
.NameIcon {
  flex: 1;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 30px 30px 30px;
}
.Age {
  flex: 1;
  width: 33%;
}
.Duties {
  padding-bottom: 5px;
  flex: 1;
}
.Carseat {
  padding-right: 10px;
  flex: 1;
}
.DataItem {
  margin: 0px 20px;
}
.Name {
  margin: 0px 0px;
  grid-row: 1/2;
  grid-column: 1/4;
}
.Icon {
  grid-row: 2/3;
  grid-column: 1/2;
  height: 50px;
  width: 50px;
}

/*ADD FAMILY*/
input,
label {
  display: block;
}
input {
  border: none;
  background-color: #fdf5d5;
  border: solid transparent 2px;
  border-bottom: solid #fee2a3 2px;
  padding: 5px;
}
input:hover {
  border: solid #1ea774 2px;
}
input:active {
  outline: none;
  border: solid #1ea774 2px;
}
input:focus {
  outline: 0;
  border: solid #1ea774 2px;
}

label {
  margin-right: 10px;
}

.Popup {
  display: flex;
  position:fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.Popup-content {
  display: flex;
  flex-direction: column;
  background-color: #fffbf2;
  position: absolute;
  z-index:2;
  top: 10%;
  left: 30%;
  width: 40%;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.Inputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.TitleNewMember {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.addFirstName {
  display: flex;
  flex: 2;
}
.addLastName {
  display: flex;
  flex: 2;
}
.addAge {
  display: flex;
  flex: 1;
}

/* ---------------------Excursion CSS-------------------- */

/*-------- GuestsAndPrefDuties Card -----------*/
.cards-container {
  display: flex;
  justify-content: center;
}
/*RENAMING*/
.card-container {
  padding: 15px 15px;
  background-color: #fdf5d5;
  width: 436px;
  min-width: 436px;
  margin: 0px 15px;
}

.table-container {
  height: 250px;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 10pt;
}
th {
  text-align: left;
  background-color: #fdf5d5;
  position: sticky;
  top: 0px;
}

td {
  background-color: #fffbf2;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: right;
}

.button-container > button {
  margin-left: 15px;
  margin-top: 15px;
}
