/*GENERAL*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbf2;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
p,
.description,
li {
  color: #6b6b6b;
  margin: 0px 0px;
}

h1 {
  font-size: 49pt;
}

h2 {
  font-size: 39pt;
  padding-top: 10px;
  padding-bottom: 20px;
}
h3 {
  font-size: 31pt;
  padding-top: 5px;
  padding-bottom: 10px;
}
h4 {
  font-size: 25pt;
  padding-top: 5px;
  padding-bottom: 10px;
}

/*Subtitle suggestion*/
.subtitle {
  font-size: 12pt;
  margin-top: -5px;
  margin-bottom: 20px;
}

p,
li {
  font-size: 10pt; 
}

.description {
  font-size: 10pt;
}

/*---------Buttons---------*/
.button-primary-medium {
  font-family: "Roboto Slab", sans-serif;
  font-size: 16pt;
  font-weight: 500;
  color: #fefbec;
  border: #1ea774 1px;
  background-color: #1ea774;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
}

.button-secondary-medium {
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  font-weight: 500;
}

.button-primary-small {
  font-family: "Roboto Slab", serif;
  font-size: 13pt;
  font-weight: 500;
  color: #fefbec;
  border: #1ea774 1px;
  background-color: #1ea774;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 50px 0px;
}

.button-primary-small:disabled {
  border: solid #a6a6a6 1px;
  color: #fefbec;
  background-color: #a6a6a6;
  cursor: not-allowed;
  pointer-events: none;
}

.button-secondary-small {
  font-family: "Roboto Slab", serif;
  font-size: 13pt;
  font-weight: 500;
}

.button-primary-extra-small {
  font-family: "Roboto Slab", serif;
  font-size: 10pt;
  font-weight: 500;
  color: #fefbec;
  border: solid #1ea774 3px;
  background-color: #1ea774;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.button-primary-extra-small:disabled {
  border: solid #a6a6a6 3px;
  color: #fefbec;
  background-color: #a6a6a6;
  cursor: not-allowed;
  pointer-events: none;
}

.button-primary-extra-small:hover {
  border: solid #0c6d4a 3px;
  background-color: #0c6d4a;
}
.delete-button {
  font-family: "Roboto Slab", serif;
  font-size: 10pt;
  font-weight: 500;
  border: solid #dd0d18 1px;
  color: #dd0d18;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}
.delete-button:hover {
  color: #fffbf2;
  background-color: #dd0d18;
}

.button-secondary-extra-small {
  font-family: "Roboto Slab", serif;
  font-size: 10pt;
  font-weight: 500;
  border: solid #1ea774 1px;
  color: #1ea774;
  background-color: transparent;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.button-secondary-extra-small:disabled {
  border: solid #a6a6a6 1px;
  color: #a6a6a6;
  cursor: not-allowed;
  pointer-events: none;
}

.button-secondary-extra-small:hover {
  color: #fffbf2;
  background-color: #1ea774;
}

.selected {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  font-weight: 500;
  border: solid #fadf63 2.25px;
  border-bottom: none;
  color: #424242;
  background-color: transparent;
  padding-left: 207.4px;
  padding-right: 207.4px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -1.4px;
  margin-right: -1.4px;
}

.unselected {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  font-weight: 500;
  border: solid #fadf63 2.25px;
  color: #424242;
  background-color: transparent;
  padding-left: 207.4px;
  padding-right: 207.4px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -1.4px;
  margin-right: -1.4px;
}

.nav-link-button {
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  border: none;
  color: #1ea774;
  background-color: red;
  margin: 20px;
  height: 25px;
}

.nav-link-button:hover {
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  border: none;
  color: #1ea774;
  background-color: transparent;
  border-bottom: #0c6d4a solid 2px;
}

.Link {
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  text-decoration: underline;
  color: #1ea774;
}

/*NAVBAR*/
.Nav-Bar {
  display: flex;
  border-bottom: 2px solid;
  border-color: #fee2a3;
  width: 100%;
  height: 60px;
}
.Nav-Ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.Divider {
  display: flex;
  flex: 1;
}
.Logo {
  display: flex;
  padding-left: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  color: #1ea774;
  font-weight: 900;
}
.user-circle {
  padding-left: 5px;
  padding-top: 5px;
}
.Nav-Item-Overview {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding-right: 70px;
}
.nav-item {
  color: #6b6b6b;
  cursor: pointer;
  display: flex;
  position: relative;
  padding-top: 15px;
  padding-right: 5px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  justify-self: center;
  border-bottom: solid transparent 10px;
}
.nav-item:hover {
  border-bottom: solid #fadf63 10px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  justify-content: space-evenly;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
}

.photo-header-image {
  width: 1450px;
  height: 200px;
  object-fit: cover;
}

/*LINKS*/
a {
  color: grey; 
  text-decoration: none;
}

/*LOGIN*/
.login-navigation {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login-container {
  display: flex;
  border: #fadf63 solid 2px;
  flex-direction: column;
  margin: 50px 20px;
  padding: 80px;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.login-form {
  display: flex;
  padding: 30px;
}
.logo-login {
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  color: #1ea774;
  font-weight: 900;
}

/*DELETEPOPUP*/
.delete-pop-up {
  background-color: #fdf5d5;
  width: 500px;
  height: 200px;
  border: solid DD0D18 2px;
}

/*DROPDOWN*/
.nav-drop-down {
  margin-top: 155px;
  border: solid #fadf63 1.5px;
  background-color: #fffbf2;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-content: center;
}
.drop-down-options {
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  z-index: 1;
  width: 140px;
  height: 50;
  margin-top: 10px;
}
.drop-down-options:hover {
  background-color: #fadf63;
}

.drop-down-menu {
  display: flex;
  flex: 4;
  flex-direction: column;
}
.drop-down-top {
  display: flex;
  flex-direction: row;
  width: 91%;
  height: 30px;
  border: solid transparent 2px;
  background-color: #fdf5d5;
  border-bottom: solid #fadf63 2px;
  padding: 0px 0px;
}
.drop-down-top:hover {
  border: solid #1ea774 2px;
}

.drop-down-item {
  display: flex;
  padding-left: 10px;
  width: 88.2%;
  height: 30px;
  background-color: #fdf5d5;
  border: solid transparent 2px;
}
.drop-down-item:hover {
  border: solid #1ea774 2px;
  border-radius: 5%;
}
#add-fam-back {
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;
  margin-right: 15px;
}
#add-fam-add {
  display: flex;
  align-self: flex-end;
  justify-self: flex-start;
  margin-right: 15px;
}
.placeHolder {
  display: flex;
  flex: 4;
  padding: 5px;
}

.arrowBtn {
  display: none;
  flex: 1;
  width: 5px;
  height: 10px;
}

/*OVERVIEWCARD*/
.overview-card {
  display: flex;
  width: 100%;
}
/*CarsAndSeats*/
.cars-and-seats {
  display: flex;
  width: 100%;
}


/*HOME*/
.button-container-home {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*PROFILE*/
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*CARD*/
.Header {
  display: flex;
  justify-content: space-between;
  color: #6b6b6b;
  border-bottom: solid #fadf63 3px;
  padding: 15px;
}
.Footer {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-end;
}
.Left {
  display: flex;
  padding-left: 25px;
}
.Right {
  display: flex;
}

.card {
  display: flex;
  margin: 25px;
  padding: 25px;
  flex-direction: column;
  min-width: 450px; 
  width: 100%; 
  height: auto;
  background-color: #fdf5d5;
}

.long-card {
  display: flex;
  margin: 25px;
  margin-top: -100px;
  width: 932px;
  height: auto;
  background-color: #fffbf2;
  border: #fadf63 solid 2.25px;
}

.contact-person-card {
  display: flex;
}

.create-contact-member {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.shopping-card-main-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  text-align: left;
  padding: 40px;
}

/*CONTACT MEMBER CARD*/
.contact-member-info {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-basis: 100%; 
  padding: 25px;
}
.contact-member-name {
  width: 100%;
  height: "20%";
  border-color: #6b6b6b;
}
.address-and-email {
  flex: 1;
}

.mobile-info {
  flex: 1;
  padding-top: 20px;
}

.edit-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 400px;
  padding: 10px;
}

.contact-member-image {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 270px;
  background-color: aquamarine;
}

.contact-member-image-1 {
  display: flex;
  padding: 25px;
  object-fit: cover;
}

.age {
  flex: 1;
  width: 33%;
}
.duties {
  padding-bottom: 5px;
  flex: 1;
}
.car-seat {
  padding-right: 10px;
  flex: 1;
}
.data-item {
  margin: 0px 20px;
}
.name {
  margin: 0px 0px;
  grid-row: 1/2;
  grid-column: 1/4;
}
.icon {
  grid-row: 2/3;
  grid-column: 1/2;
  height: 50px;
  width: 50px;
}

/*ADD FAMILY*/
input,
label {
  display: block;
}
input {
  border: none;
  background-color: #fdf5d5;
  border: solid transparent 2px;
  border-bottom: solid #fee2a3 2px;
  padding: 5px;
}

textarea {
  border: none;
  background-color: #fdf5d5;
  border: solid transparent 2px;
  border-bottom: solid #fee2a3 2px;
  padding: 5px;
  width: 490px;
  height: 100px;
}
input:hover {
  border: solid #1ea774 2px;
}
input:active {
  outline: none;
  border: solid #1ea774 2px;
}
input:focus {
  outline: 0;
  border: solid #1ea774 2px;
}

.popup {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 170%;
  background-color: rgba(0, 0, 0, 0.2);
}
.popup-content {
  display: flex;
  flex-direction: column;
  background-color: #fffbf2;
  position: absolute;
  top: 17%;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid #fadf63;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.input-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-top: 25px;
}

.popup-title {
  display: flex;
  justify-content: flex-start;
}

.long-input {
  display: flex;
}

.short-input {
  display: flex;
}

input[type="number"] {
  width: 60px;
}

.popup-drop-down {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}

.popup-button-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 25px;
}

/* ---------------------Excursion CSS-------------------- */
.excursion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.excursion-card {
  display: flex;
  flex-direction: row;
  padding: 25px;
  width: 100%;
}

.excursion-card-main-content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

/*-------- GuestsAndPrefDuties Card -----------*/
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding: 10px 15.5px;
  background-color: #fefbec;
  width: 436px;
  min-width: 436px;
  border: #fadf63 solid 2.25px;
  margin-left: -1.4px;
  margin-right: -1.4px;
}

.duties-headline {
  color: #0c6d4a;
  padding: 10px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-top: 20px;
  width: 892px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-right: #fadf63 solid 2.25px;
  border-left: #fadf63 solid 2.25px;
  border-bottom: #fadf63 solid 2.25px;
}

.profile-headline {
  color: #0c6d4a;
  padding: 10px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-top: 30px;
  width: 892px;
  display: flex;
  align-items: flex-start;

  flex-direction: column;
  border-top: #fadf63 solid 2.25px;
  border-right: #fadf63 solid 2.25px;
  border-left: #fadf63 solid 2.25px;
  border-bottom: #fadf63 solid 2.25px;
}

/* ------------TABLE RELATED STYLING--------*/
.table-container {
  height: 250px;

  overflow-y: scroll;
}
table {
  border-collapse: collapse;
  width: 99%;
  font-size: 10pt;
  color: #424242;
}
th {
  text-align: left;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #8d8d8d;
  background-color: #fffbf2;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: solid 2px #fadf63;
}

td {
  background-color: #fffbf2;
  padding-top: 7.5px;
}
.trow {
  margin: 10px;
  font-size: 16px;
  cursor: default;
  border: transparent solid 2px;
}
.trow:hover {
  border-bottom: #1ea774 solid 2px;
}

.button-container > button {
  margin-left: 15px;
  margin-top: 5px;
}

/*-------- Upload (Profile_Image) -----------*/

.p-header-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  justify-content: center;
  margin: 0px;
}

.image-container {
  display: flex;
  justify-content: center;
}
/*RENAMING*/
.image-container {
  padding: 10px;
  width: 150px;
  min-width: 150px;
  margin: 0px 10px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: center;
}

#input[type="file"] {
  display: none;
}

/*-------- SignUp -----------*/

.footer-container {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  padding-top: 25px;
  margin-top: 150px;
  border-top: solid #fadf63 2px;
}
.info-container {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-self: center;
}
.statistics {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}
.statistics-item {
  padding-left: 50px;
}

.signup-container {
  display: flex;
  border: #fadf63 solid 2px;
  flex-direction: column;
  margin: 50px 20px;
  padding: 60px 80px;
  padding-top: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.welcome-message {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------- Home/Welcome Page -----------*/

.welcome-page {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: right;
  margin-left: -15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*-------- Create Excursion -----------*/

.create-excursion {
  display: flex;
  border: #fadf63 solid 2px;
  flex-direction: column;
  margin: 50px 20px;
  padding: 80px;
}

/*-------- Home/Welcome Page / Animation  -----------*/

.image-car-container {
  display: flex;
  justify-content: center;
  width: 480px;
  min-width: 450px;
  margin: 0px 20px;
}

.image-logo-container {
  display: flex;
  justify-content: center;
}

.image-logo-container {
  width: 40px;
  min-width: 40px;
}
